.header{
  background-color:#bbb;
  height:120px;
  display:none;
}
.sidebar{
  background-color:#ccc;
  height:600px;
  display:none;
}
.viewer{
  height:600px;
}
.footer{
  background-color:#bbb;
  height:200px;
  display:none;
}
